/* Created by Alisha Zhang Feb 3, 2018 */

/* Background color is black */
	body {
		background-color: black;
		height: 0px;
		margin: 0px;
	}

/* Background video formatting */
	.backgrounddiv {
  	position: fixed;
	  right: 0px;
  	bottom: 0px;
  	top: 0px;
  	left: 0px;
  	z-index: -100;
  	overflow: hidden;
  	padding:0;
  	margin:0;
	}

	#choeuram {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  right: -570px;
	  bottom: 0px;
	}

	@media (min-aspect-ratio: 16/9) {
	  #choeuram {
	    bottom: -100%;
	    height: 300%;
	  }
	}

	@media (max-aspect-ratio: 16/9) {
	  #choeuram {
	    right: -143%;
	    width: 300%;
	  }
	}
/* Creating the menu */
  #headermenu {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    z-index: 10;
  }

/* Dropdown menu */
	.dropdown {
		position: fixed;
		margin: 35px;
		top: 10px;
		cursor: pointer;
	}

	.dropimg {
  	opacity: 0.6;
  }

  .dropimg:hover, .dropimg:active, .dropimg:focus {
  	opacity: 0.4;
  }

  .dropdown-content {
    display: none;
    position: relative;
		top: -28px;
		left: 40px;
    background-color: #1C1C1C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }

  .dropdown-content a {
  	color: #EFF4FA;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: inline-block;
  	font-family: raleway, helvetica, arial, sans-serif;
  }

  .dropdown-content a:hover {background-color: #303030}

	.show {display:block;}

	@media screen and (max-width: 980px) {
    .dropdown-content {
      position: relative;
			top: 0px;
			left: 0px;
      min-width: 160px;
    }
    .dropdown-content a{
      display: block;
    }
  }

/* Gradient black bar on top and bottom */
	.navblackbar  {
		position: fixed;
		width: 100%;
		background-color: black;
		height: 50px;
		display: none;
		z-index: 30;
	}

	.navblackbar2  {
		position: fixed;
		width: 100%;
		background-color: black;
		height: 50px;
		z-index: 30;
	}

	.navblackbar:hover {
		cursor: pointer;
	}

	#upblackbar {
		top: 0px;
		background: linear-gradient(
			rgba(0,0,0,0.97) 5%,
			rgba(0,0,0,0.95) 15%,
			rgba(0,0,0,0.92) 20%,
			rgba(0,0,0,0.90) 25%,
			rgba(0,0,0,0.80) 75%,
			rgba(0,0,0,0.75) 80%,
			rgba(0,0,0,0.65) 85%,
			rgba(0,0,0,0.5) 90%,
			rgba(0,0,0,0.3) 95%,
			rgba(0,0,0,0.2) 100%
			);
	}

	#upblackbar2 {
		top: 0px;
		background: linear-gradient(
			rgba(0,0,0,0.97) 5%,
			rgba(0,0,0,0.95) 15%,
			rgba(0,0,0,0.92) 20%,
			rgba(0,0,0,0.90) 25%,
			rgba(0,0,0,0.80) 75%,
			rgba(0,0,0,0.75) 80%,
			rgba(0,0,0,0.65) 85%,
			rgba(0,0,0,0.5) 90%,
			rgba(0,0,0,0.3) 95%,
			rgba(0,0,0,0.2) 100%
			);
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.3s;
		transition-timing-function: linear;
	}

	#downblackbar {
		bottom: 0px;
		background: linear-gradient(
			rgba(0,0,0,0.2) 0%,
			rgba(0,0,0,0.3) 5%,
			rgba(0,0,0,0.5) 10%,
			rgba(0,0,0,0.65) 15%,
			rgba(0,0,0,0.75) 20%,
			rgba(0,0,0,0.8) 25%,
			rgba(0,0,0,0.9) 75%,
			rgba(0,0,0,0.92) 80%,
			rgba(0,0,0,0.95) 85%,
			rgba(0,0,0,0.97) 95%
			);
	}
	#downblackbar2 {
		bottom: 0px;
		background: linear-gradient(
			rgba(0,0,0,0.2) 0%,
			rgba(0,0,0,0.3) 5%,
			rgba(0,0,0,0.5) 10%,
			rgba(0,0,0,0.65) 15%,
			rgba(0,0,0,0.75) 20%,
			rgba(0,0,0,0.8) 25%,
			rgba(0,0,0,0.9) 75%,
			rgba(0,0,0,0.92) 80%,
			rgba(0,0,0,0.95) 85%,
			rgba(0,0,0,0.97) 95%
			);
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.3s;
		transition-timing-function: linear;
	}

	#upblackbar2:hover {
		opacity: 1;
	}

	#downblackbar2:hover {
		opacity: 1;
	}

/* Navigation buttons */
	#downbutton {
		position: relative;
		margin-left: 48%;
		opacity: 0.7;
		z-index: 70;
		transition-property: opacity;
		transition-duration: 0.1s;
		transition-timing-function: linear;
	}

	#upbutton {
		position: relative;
		margin-left: 48%;
		opacity: 0.7;
		top: 6%;
		z-index:70;
		transition-property: opacity;
		transition-duration: 0.1s;
		transition-timing-function: linear;
	}

/* Youtube Icon */
	#YoutubeIcon {
		position: fixed;
		bottom: 0px;
		right: 10px;
		z-index: 60;
	}

	#YoutubeIcon:hover {
		background-color: black;
		opacity: 0.6;
	}

/* Creating a scrollable container for all of the page */

	::-webkit-scrollbar {
		display:none;
	}

/* All text box formatting */
	div.transtxtbox {
		position: absolute;
		margin: 0 auto;
		width: 60%;
		left: 0;
		right: 0;
		padding: 50px;
		background-color: rgba(0,0,0,0.8);
  	opacity: 1;
  	filter: alpha(opacity=90);
		font-family: raleway, helvetica, arial, sans-serif;
		border: 1px solid #494949; /* Temporary border to be deleted */
		z-index: 0;
	}

	div.transtxtbox h1 {
		color: #EFF4FA;
		text-align: center;
	}

	div.transtxtbox p, ul {
		color:#D2D5DA;
	}

/* Importing raleway font */
	 @font-face {
	   font-family: raleway;
	   src: url(raleway/Raleway-Light.ttf)
	 }

	@font-face {
		font-family: ralewaybold;
		src: url(raleway/Raleway-Medium.ttf)
	}

/* Text box & down button # 1 ("Home") formatting */
	#transtxtbox1 {
		top: 20%;
	}

	#transtxtbox1 article {
		text-align: center;
		padding-top: 0px;
	}

	#transtxtbox1 h1 {
		margin-bottom: 0px;
	}

	#transtxtbox1 p {
		margin-bottom: 71px;
	}

/* Text box & down button #2 ("About") Formatting */
  #transtxtbox2 {
		top: 140%;
	}

	#transtxtbox2 h1 {
		margin-bottom: 0.5em;
	}

	#transtxtbox2 p {
		margin-bottom: 71px;
		text-align: justify;
	}

  #About {
  	color: #D2D5DA;
  }

/* Text box & down button #3 ("Experience") Formatting */
	#transtxtbox3 {
		top: 260%;
	}

	#transtxtbox3 h1 {
		margin-top: 15px;
		margin-bottom: 0.5em;
	}

	#transtxtbox3 p {
		margin-bottom: 15px;
		text-align: justify;
	}

/* Text box & down button #4 ("Education") Formatting */
	#transtxtbox4 {
		top: 380%;
	}

	#transtxtbox4 h1 {
		margin-bottom: 0.5em;
		margin-top: 20px;
	}

	#transtxtbox4 p {
		margin-bottom: 25px;
		text-align: justify;
	}

/* Text box & down button #5 ("Hobbies") Formatting */
	#transtxtbox5 {
		top: 500%;
	}

	#transtxtbox5 h1 {
		margin-bottom: 0.5em;
	}

	#transtxtbox5 ul {
		margin-bottom: 71px;
		text-align: left;
	}

	#boldhobbies {
		font-family: ralewaybold;
		font-weight: bolder;
	}

/* Text box & down button #6 ("Contact") Formatting */
	#transtxtbox6 {
		top: 620%;
	}

	#transtxtbox6 h1 {
		margin-bottom: 0.5em;
		margin-top: 0px;
	}

	#transtxtbox6 p {
		margin-bottom: 30px;
		text-align: left;
	}

/* Contact submission form */
	input[type=text], select, textarea {
	  width: 80%;
	  padding: 8px;
		padding-left: 12px;
	  border: 1px solid #494949;
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin-top: 6px;
	  margin-bottom: 16px;
	  resize: vertical;
		float: right;
		background: rgba(255,255,255,0.4);
		color: #D2D5DA;
		font-size: 18px;
	}

	label {
		text-align: right;
		padding: 12px;
		margin-top: 6px;
		margin-bottom: 16px;
		color: #D2D5DA;
	}

	input[type=submit] {
	  background-color: #0C0C0C;
	  color: white;
	  padding: 12px 20px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type=submit]:hover {
	  background-color: #1C1C1C;
	}

	.submitform {
  	border-radius: 5px;
  	background: rgba(128,128,128,0.4);
  	padding: 20px;
		height: 300px;
	}
